<p>
This implementation guide outlines the search parameters for the {{include.resource}} resource in the table below. The parameters can be used independently or as part of a search combination to help with reducing the number of search results returned.  This section outlines the search paramter syntax used with some basic examples provide. For a more comprehensive look at possible search paramters, please refer to <a href="build_organization_search.html">Design & Build section</a> in this implementation guide and refer to point sub-section 2.2.
</p>
<div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note:</b> Details on the Search Parameters selection and feedback process can be found here [Search Parameters](profiles_search_parameters.html)</div>
<br>
